<style>
        *{
            font-family: "Plus Jakarta Sans", sans-serif;
            margin: 0px;
            padding: 0px;
        }
        body{
            min-height: 100vh;
            background-image: linear-gradient(#ffffff,#ecbfff);
        }
        #banner{
            background-color: bisque;
            margin: 100px auto 120px auto;
            width: 87.5%;
            border-radius: 40px;
            border: 2px solid #872bff;
            padding: 20px 30px;
            background-image: url("../images/hero-bg.png");
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .banner-content h1{
            width:60px ;
        }
        .banner-content h1{
            font-size: 70px;
            font-weight: bold;
        }
        .banner-content h1 span{
            color: #f411cf;
        }
        .banner-content p{
            font-weight:medium ;
            font-size: 18px;
            color: #0e0d0d;
        }
        .btn{
            background-color: #872bff;
            border-radius: 30px;
            padding:16px 32px ;
            color: #ffffff;
            cursor: pointer;
            margin-right: 20px;
        }
        .btn-w{
            background-color: #ecbfff;
            border-radius: 30px;
            padding:16px 32px ;
            color: #0e0c0c;
            cursor: pointer;
            margin-right: 20px;

        }
        .banner-content *{
            margin-bottom: 20px;
        }
        .banner-image{
            width: 600px;
        }

        #service{
            width: 87.5%;
            margin: 0px auto 120px auto;
        }
        .heading-content{
            text-align: center;
            margin-bottom: 5px;
        }
        .heading-content h4{
            color: darkmagenta;
            font-weight: bold;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 20px;

        }
        .heading-content h2{
            font-weight: bold;
            font: size 34px; ;
        }
        #service-card-container{
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        .service-card{
            background-color: #ffffff;
            padding: 20px 60px;
            text-align: center;
            width: 300px;
            border-radius: 30px;

        }
        .service-card img{
        margin-bottom: 30px;
        }
        .service-card h2{
            font-weight: semibold;
            font-size: 28px;
            margin-bottom: 20px;
        }
        #story-container{
            width: 87.5%;
            margin: 0px auto 100px auto;
        }
        .story-card{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            background-color: #ffffff;
            padding: 40px;
            border-radius: 28px;

        }
        .story-content *{
            margin-bottom: 30px;

        }
        #country-container{
            width: 87.5%;
            margin: 0px auto 100px auto;
        }
        .country-card{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: center;

        }
        .country-card h2{
            background-color: #ffffff;
            padding: 40px;
            border-radius: 30px;

        }
        #story-container{
            width: 87.5%;
            margin: 0px auto 120px auto;
           
        }
        .review-card{
             background-color: #ffffff;
            padding: 20px 60px;
            text-align: center;
            width: 1200px;
            border-radius: 30px;
            gap: 30px;
            justify-content: space-between;
            margin: 10px;

        }
        
        

    </style>
